*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.container {
  width: 60%;
  margin-bottom: 20px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.container h2, button, select {
  padding: 10px;
  margin-bottom: 10px;
}

.bottone {
  margin: 10px;
}

select {
  background-color: lightgrey;
}

.box {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.box h3 {
  padding: 10px;
}
